<div class="container">
    <div class="row">
        <div class="col my-4">
            <table class="table responsive border shadow rounded table-striped">
                <thead class="table-dark border ">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Project</th>
                      <th scope="col">Something</th>
                      <th scope="col">User</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td >Larry the Bird</td>
                      <td>@twitter</td>
                      <td>@fat</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td >Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@fat</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td >Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@fat</td>
                        <td>@fat</td>
                      </tr>
                  </tbody>
              </table>
        </div>
    </div>
</div>